

body{
    width:50%;
}



h1, h2, h3, h4, h5, h6 {
    font-size: larger;
    margin-bottom: 0px;
}



/*
.SectionTitle {
    background: linear-gradient(#FEFEFE, #F3F5F5);
    background: -o-linear-gradient(#FEFEFE, #F3F5F5);
    background: -ms-linear-gradient(#FEFEFE, #F3F5F5);
    background: -moz-linear-gradient(#FEFEFE, #F3F5F5);
    background: -webkit-linear-gradient(#FEFEFE, #F3F5F5);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #F3F5F5), color-stop(0.00, #FEFEFE));
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 22px;
    margin: 0 0 20px;
    padding: 8px 10px 8px 26px;
    position: relative;
    width: 100%;
  }
  
  .SectionTitle:before {
    background-color: #1B73BA;
    border-radius: 3px;
    content: " ";
    display: inline-block;
    height: 60%;
    left: 10px;
    margin-right: 10px;
    position: absolute;
    top: 20%;
    width: 6px;
  }
  .SubSectionTitle {
    background: linear-gradient(#F3F5F5, #fff);
    background: -o-linear-gradient(#F3F5F5, #fff);
    background: -ms-linear-gradient(#F3F5F5, #fff);
    background: -moz-linear-gradient(#F3F5F5, #fff);
    background: -webkit-linear-gradient(#F3F5F5, #fff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fff), color-stop(0.00, #F3F5F5));
    border-bottom: 2px solid #1B73BA;
    box-sizing: border-box;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 7px 0 5px 10px;
  }
  .SubSubSectionTitle {
    border-bottom: 2px solid #1B73BA;
    font-size: 18px;
    margin: 0 0 20px;
    padding-bottom: 5px;
  }
  .SubSubSubSectionTitle {
    font-size: 16px;
    margin: 0 0 20px;
  }
  
  .SubSubSubSectionTitle:before {
    background-color: #1B73BA;
    border-radius: 2px;
    content: "";
    display: inline-block;
    height: 15px;
    margin-right:  8px;
    vertical-align: middle;
    width: 4px;
  }
*/


.SectionTitle {
    background: #1B73BA;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 8px 10px;
    position: relative;
    width: 100%;
  }
  
  .SectionTitle:before {
    border: 10px solid transparent;
    border-top: 10px solid #1B73BA;
    content: "";
    height: 0;
    left: 10px;
    position: absolute;
    top: 100%;
    width: 0;
  }

  .SubSectionTitle {
    border-bottom: 2px solid #1B73BA;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
    padding: 7px 0 2px 0;
  }
  
  .SubSectionTitle:before {
    background-image: url(/stylerecipe_img/flat_arrow_blue01.png);
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
   *display:inline;
   *zoom:1;
    height: 20px;
    padding: 0 12px 2px 0;
    vertical-align: middle;
    width: 10px;
  }

  .SubSubSectionTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
  }
  
  .SubSubSectionTitle:before {
    background-image: url(/stylerecipe_img/flat_arrow_blue01.png);
    background-repeat: no-repeat;
    background-size: 8px 15px;
    content: " ";
    display: inline-block;
   *display:inline;
   *zoom:1;
    height: 15px;
    padding: 0 10px 2px 0;
    vertical-align: middle;
    width: 8px;
  }
  .SubSubSubSectionTitle {
    font-size: 16px;
    margin: 0 0 20px;
  }
  
  .SubSubSubSectionTitle:before {
    background-image: url(/stylerecipe_img/flat_arrow_blue01.png);
    background-repeat: no-repeat;
    background-size: 6px 11px;
    content: " ";
    display: inline-block;
   *display:inline;
   *zoom:1;
    height: 11px;
    padding: 0 10px 2px 0;
    vertical-align: middle;
    width: 6px;
  }

/*
.SectionTitle {
    position: relative;
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #ccc;
}

    .SectionTitle::before {
        position: absolute;
        left: -6px;
        bottom: 0;
        content: '';
        width: 6px;
        height: 50%;
        background-color: #3498db;
    }

    .SectionTitle::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 100%;
        height: 0;
        border-bottom: 1px solid #ccc;
    }



.SubSubSectionTitle {
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #ccc;
}
*/

.Section {
    list-style: none;
    margin: 0 0 0 0em;
    padding: 0 0 0 0.5em;
    border-left: 3px double #eee;
}


figure {
    text-align: right;
}

    figure img {
        max-width: 600px;
        width: 80%;
    }

figcaption {
    font-weight: bold;
}

p {
    line-height: 2.0em;
    letter-spacing: 0.8pt;
}


table {
    width: 100%;
    margin: 0px 0 30px 0;
    font-size: 0.875em;

    border-collapse: collapse;
    border-spacing: 0px;

}

    /* table tbody {
        border-top: #e6e6e6 0px solid;
    } */

    table tr {
        /* -webkit-transition: background .15s;
        -moz-transition: background .15s;
        -ms-transition: background .15s;
        -o-transition: background .15s;
        transition: background .15s; */
        
    }

        table tbody tr:nth-child(odd) {
            background: #fff;
        }
        table tbody tr:nth-child(even) {
            
            background: #f5f5f5;
        }
        table tbody tr:hover {
            outline: #00cccc 1px solid;
        }

    table th{
            
        
        background-color: #eee;
        border: 1px solid #b9b9b9;
    }

    table td {
        vertical-align: top;
        padding: 7px 10px;

        
        border: 1px solid #b9b9b9;
    }

        table tbody th {
            width: 18%;
        }

        table tbody td {
            /* width: 82%; */
        }

        table thead th {
            font-weight: 700;
        }
        
/* 
table.List {
    width: 100%;
    margin: 0px 0 30px 0;
    font-size: 0.875em;
}

    table.List tbody {
        border-top: #e6e6e6 0px solid;
    }

    table.List tr {
        -webkit-transition: background .15s;
        -moz-transition: background .15s;
        -ms-transition: background .15s;
        -o-transition: background .15s;
        transition: background .15s;
    }

        table.List tr:nth-child(odd) {
            background: #f8f8f8;
        }

        table.List tr:hover {
            outline: #00cccc 1px solid;
        }

    table.List td {
        vertical-align: top;
        padding: 7px 10px;
    }

        table.List td.Label {
            width: 18%;
        }

        table.List td.Desc {
            width: 82%;
        }

        table.List td.Name {
            font-weight: 700;
        }
        
table.Standard {
    width: 100%;
    border-collapse: collapse;
}

    table.Standard th {
        width: 25%;
        padding: 6px;
        text-align: left;
        vertical-align: top;
        color: #333;
        background-color: #eee;
        border: 1px solid #b9b9b9;
    }

    table.Standard td {
        padding: 6px;
        background-color: #fff;
        border: 1px solid #b9b9b9;
    }

     */




     ul.Tree {
        list-style: none;
    }
    
        ul.Tree ul {
            list-style: none;
        }
    
            ul.Tree ul li:before {
                content: "├";
                margin: 0px 4px 0px 0px;
            }
    
            ul.Tree ul li:last-child:before {
                content: "└";
                margin: 0px 4px 0px 0px;
            }
